NODE_ENV=production

# Backend application
DATABASE_DRIVER=postgres
DATABASE_URL=postgres://database:5432/prac
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
TYPEORM_SYNCHRONIZE=false
LOGGER_TYPE=json
MONGODB_FALLBACK_URL=mongodb://mongodb:27017/film_disabled

# PostgreSQL container
POSTGRES_DB=prac
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# PgAdmin container
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# Published ports
FRONTEND_PORT=80
PGADMIN_PORT=8080
