#mongodb config
DATABASE_DRIVER="mongodb"
DATABASE_URL="mongodb://localhost:27017/prac"
TYPEORM_SYNCHRONIZE="false"
DEBUG=*

# logger config
# available values: dev | json | tskv
LOGGER_TYPE="dev"

#postgres config
DATABASE_DRIVER="postgres"
DATABASE_URL="postgres://localhost:5432/prac"
DATABASE_USERNAME="postgres"
DATABASE_PASSWORD="postgres"
TYPEORM_SYNCHRONIZE="false"
DEBUG=*
